body {
   font-size: 20pt; 
}
video {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}
div.video-hint {
    text-align: center;
}
div.content {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

canvas.capture,
video {
}

video,
#output {
    display: none;
}

table {
    width: 100%;
    zoom: 2.0;
    margin: 0 auto;
}

div.preview {
    display: none;
}

textarea {
    margin-top: 10px;
    font-size: 20pt;
    height: 64px;
    padding: 2px;
    border-width: 1px;
    width: 634px; /* 640 - 6 */
}

.backup-capture {
    display: none;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.fa-6 {
    align: center;
    font-size: 20em;
}

input.preview {
    display: none;
}

.buttons {
    margin: 10px 0px; 
}
.working {
    display: none;
}
.buttons button {
    height: 64px;
    font-size: 20pt;
}
