@font-face
{
    font-family: banner;
    src: url(Ribbons-and-banners.ttf);
}

@font-face
{
    font-family: marker;
    src: url(marker_felt.ttf);
}


body {
   font-size: 30pt;
   font-family: marker;
    text-align: center;
}

video {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}

div.title {
    font-family: banner;
    font-size: 50pt;
}

div.intro {
    background: lightgray;
    padding: 20px 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius:25px;
    cursor: pointer;
}

div.intro div {
    background: white;
    width: 200px;
    border-radius:25px;
    margin-left: auto;
    margin-right: auto;
}

div.success {
    background: lightgreen;
    padding: 20px 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius:25px;
    cursor: pointer;
}

div.error {
    background: IndianRed;
    padding: 20px 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius:25px;
    cursor: pointer;
}

div.video-hint {
}

div.content {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

canvas.capture {
    background: black;
}

video,
#output {
    display: none;
}

#sprite-container {
    height: 390px;
}

#sprite-preview {
    margin: 0 auto;
    width: 100%;
    zoom: 2.0;
    -moz-transform:  scale(4.0,4.0);
    -moz-transform-origin: top;
}

/* Initially hidden */
div.capture,
div.success,
div.error,
div.preview,
.working {
    display: none;
}

textarea {
    margin-top: 10px;
    font-size: 20pt;
    height: 64px;
    padding: 2px;
    border-width: 1px;
    width: 634px; /* 640 - 6 */
}

.backup-capture {
    display: none;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.fa-6 {
    align: center;
    font-size: 500px;
}

input.preview {
    display: none;
}

.buttons {
    margin: 10px 0px;
}

.buttons button {
    height: 64px;
    font-size: 20pt;
}
