{% load staticfiles %}
{% csrf_token %}
<html>
<head>
<meta name=viewport content="width=640">
<link type="text/css" rel="stylesheet" href="{% static "capture.css" %}">
<link type="text/css" rel="stylesheet" href="{% static "sprites.css" %}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
    <body>
        <div class="content">
        <div class="capture">
          <div class="video-hint"></div>
          <video autoplay></video>
          <canvas width="640" height="480" class="capture"></canvas>
          <form>
              <input class="preview" type="file" accept="image/*" capture="camera" />
          </form>
          <div class="backup-capture">
              <i class="fa fa-camera-retro fa-6"></i>
          </div>
        </div>
        <div class="preview">
            <img id="output">
            <div id="sprite-container">
                <div id="sprite-preview">
                    <div id="preview-body" class="body0"></div>
                    <img id="thumb">
                    <div id="preview-hair" class="hair0"></div>
                </div>
                <button id="hairdown"><i class="fa fa-arrow-left fa-5x"></i></button>
                <button id="hairup"><i class="fa fa-arrow-right fa-5x"></i></button>
                <button id="bodydown"><i class="fa fa-arrow-left fa-5x"></i></button>
                <button id="bodyup"><i class="fa fa-arrow-right fa-5x"></i></button>
            </div>
            <textarea id="comment" placeholder="Enter a comment"></textarea>
            <div class="working">
                Uploading...
            </div>
            <div class="buttons">
                <button id="cancel">Cancel</button>
                <button id="submit">Submit</button>
            </div>
        </div>
        </div>
    </body>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{% static "compatibility.js" %}"></script>
    <script type="text/javascript" src="{% static "capture.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.canvasResize.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.exif.js" %}"></script>
</html>
