{% load staticfiles %}
{% csrf_token %}
<html>
<head>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{% static "capture.js" %}"></script>
<link type="text/css" rel="stylesheet" href="{% static "capture.css" %}">
<link type="text/css" rel="stylesheet" href="{% static "sprites.css" %}">
</head>
    <body>
        <div class="content">
        <div class="capture">
          <div class="video-hint">
              Please allow access to the camera!
          </div>
          <video autoplay></video>
          <canvas class="capture" width="640px" height="480px" style="display: none"></canvas>
        </div>
        <div class="preview">
            <div>
                <img id="output">
            </div>
            <table>
                <tr>
                    <th>Hair:</th>
                    <td><button id="hairdown">&#8592;</button></td>
                    <td rowspan="2">
                        <div id="sprite-preview">
                            <div id="preview-body" class="body0"></div>
                            <img id="thumb">
                            <div id="preview-hair" class="hair0"></div>
                        </div>
                    </td>
                    <td><button id="hairup">&#8594;</button></td>
                </tr>
                <tr>
                    <th>Body:</th>
                    <td><button id="bodydown">&#8592;</button></td>
                    <td><button id="bodyup">&#8594;</button></td>
                </tr>
            </table>
            <div>
                <textarea id="comment" placeholder="Enter a comment"></textarea>
            </div>
            <div>
                <button id="cancel">Cancel</button>
                <button id="submit">Submit</button>
            </div>
        </div>
        </div>
    </body>
</html>
