{% load staticfiles %}
{% csrf_token %}
<html>
<head>
<meta name=viewport content="width=640">
<link type="text/css" rel="stylesheet" href="{% static "capture.css" %}">
<link type="text/css" rel="stylesheet" href="{% static "sprites.css" %}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
    <body>
        <div class="content">
            <div class="title">
                (L_a_u_r_a_ _ a_n_d_ _A_n_d_r_e_w)<br>
            </div>
        <div class="intro">
            <p>Take a picture and leave a message for the newlyweds.</p>
            <p>Your picture will be used in an avatar in the accompanying video game.</p>
            <p>Use the arrows to choose your avatar's hair and clothes.</p>
            <div>OK</div>
        </div>
        <div class="capture">
          <div class="video-hint"></div>
          <video autoplay></video>
          <canvas width="640" height="480" class="capture"></canvas>
          <form>
              <input class="preview" type="file" accept="image/*" capture="camera" />
          </form>
          <div class="backup-capture">
              <i class="fa fa-camera-retro fa-6"></i>
          </div>
        </div>
        <div class="preview">
            <img id="output">
            <div id="sprite-container">
                <div id="sprite-preview">
                    <div id="preview-body" class="body0"></div>
                    <img id="thumb">
                    <div id="preview-hair" class="hair0"></div>
                </div>
                <button id="hairdown"><i class="fa fa-arrow-left fa-5x"></i></button>
                <button id="hairup"><i class="fa fa-arrow-right fa-5x"></i></button>
                <button id="bodydown"><i class="fa fa-arrow-left fa-5x"></i></button>
                <button id="bodyup"><i class="fa fa-arrow-right fa-5x"></i></button>
            </div>
            <textarea id="comment" placeholder="Enter a comment"></textarea>
            <div class="working">
                Uploading...
            </div>
            <div class="buttons">
                <button id="cancel">Cancel</button>
                <button id="submit">Submit</button>
            </div>
        </div>
        <div class="success">
            <p>Success!</p>
            <p>Thank you! Visit the kiosk to view your avatar in the game!</p>
            <div class="title">[T_a_k_e_ _a_n_o_t_h_e_r]</div>
        </div>
        <div class="error">
            <p>Error</p>
            <p>Uh oh, failed to upload your image. Click to try again.</p>
            <div class="title">[T_a_k_e_ _a_n_o_t_h_e_r]</div>
        </div>
        </div>
    </body>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{% static "compatibility.js" %}"></script>
    <script type="text/javascript" src="{% static "capture.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.canvasResize.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.exif.js" %}"></script>
</html>
